<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Font_Extender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Font_Extender.Properties.Settings>
            <setting name="StartUniIndex" serializeAs="String">
                <value>2E19</value>
            </setting>
            <setting name="ReplaceCombinationCount" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaxCustomWidthCount" serializeAs="String">
                <value>2000</value>
            </setting>
        </Font_Extender.Properties.Settings>
    </userSettings>
</configuration>